body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}


/* just for the header */

#header {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}


/*
    .animate {
        isolation: isolate;
    }
*/

#header button {
    float: left;
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 0.2em;
    padding: 1em 2em;
    box-shadow: inset 0 0 0 2px red;
    color: red;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
}

#header button::before,
#header button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.draw {
    transition: color 0.25s;
}

.draw::before,
.draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}

.draw:hover {
    color: $cyan;
}

.draw:hover::before,
.draw:hover::after {
    width: 100%;
    height: 100%;
}

.draw:hover::before {
    border-top-color: $cyan;
    border-right-color: $cyan;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
    border-bottom-color: $cyan;
    border-left-color: $cyan;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.welcome {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
    grid-area: welcome;
    padding: 0.2em;
    background-color: white;
    border: 1px solid rgba(184, 213, 255, 0.856);
    color: #000;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}

.closebtn {
    font-size: 20px;
    padding: 0.8em 0.5em 0 0;
    float: right;
    font-weight: bold;
    color: black;
}

.closebtn:hover {
    color: grey;
}

.button {
    float: right;
    height: 56px;
    width: 100px;
    line-height: 56px;
    border: 2px solid bisque;
    color: white;
}

.button:hover {
    color: #cfcfcf;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 28px;
    line-height: 28px;
    background-color: bisque;
    text-align: center;
}

.body {
    margin: 8px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.main {
    width: 640px;
    position: relative;
}

.side {
    margin-left: 3em;
    width: 230px;
}

.title {
    text-align: center;
    background-color: ;
    margin-bottom: 5px;
}

.select {
    /*
    width: 100%;
    height: 115px;
*/
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "diademe lunettes illuminati barbe" "diademebox lunettesbox illuminatibox barbebox";
}

.thumbnail {
    width: 80px;
    height: 80px;
}

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4em;
    height: 2em;
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    position: relative;
    border-radius: 20%/50%;
}

input:checked {
    border: 6px solid black;
    background-color: white;
}

.diademe {
    grid-area: diademe;
}

.lunettes {
    grid-area: lunettes;
}

.illuminati {
    grid-area: illuminati;
}

.barbe {
    grid-area: barbe;
}

#diademe.png {
    grid-area: diademebox;
}

#lunettes.png {
    grid-area: lunettesbox;
}

#illuminati.png {
    grid-area: illuminatibox;
}

#barbe.png {
    grid-area: barbebox;
}

.capture {
    position: absolute;
    top: 550px;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(162, 187, 202, 0.5);
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    display: none;
}

.capture:hover,
.captureFile:hover {
    cursor: pointer;
    background-color: rgba(128, 154, 188, 0.5);
}

video {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.camera {
    width: 50px;
    height: 50px;
}

.icon {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

#diademe {
    position: absolute;
    width: 240px;
    height: 180px;
    top: 130px;
    left: 206px;
}

#lunettes {
    position: absolute;
    width: 195px;
    height: 175px;
    top: 250px;
    left: 240px;
}

#illuminati {
    position: absolute;
    width: 240px;
    height: 180px;
    top: 150px;
    left: 206px;
}

#barbe {
    position: absolute;
    width: 330px;
    height: 250px;
    top: 296px;
    left: 140px;
}

.removable:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.captureFile {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(162, 187, 202, 0.5);
    text-align: center;
    line-height: 50px;
    top: 1029px;
    font-size: 25px;
    display: none;
}

.montage-div {
    position: relative;
}

#webcam {
    display: none;
}

#camera-not-available {
    width: 100%;
    text-align: center;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 40px;
    line-height: 480px;
    margin-bottom: 3px;
}

@media screen and (max-width: 900px) {
    .main {
        width: 400px;
    }
    .capture {
        top: 365px;
    }
    /* 180 */
    #diademe {
        width: 110px;
        height: 85px;
        top: 125px;
        left: 130px;
    }
    .body {
        width: 640px;
    }
    #lunettes {
        width: 120px;
        height: 105px;
        top: 180px;
        left: 140px;
    }
    #illuminati {
        width: 125px;
        height: 112px;
        top: 143px;
        left: 130px;
    }
    #barbe {
        width: 200px;
        height: 173px;
        top: 227px;
        left: 95px;
    }
}

#canvas {
    width: 400px;
}

.captureFile {
    top: 668px;
}

#camera-not-available {
    height: 300px;
    line-height: 160px
}


}
@media screen and (max-width: 660px) {
    .body {
        display: inline;
        width: 450px;
    }

    .side {
        width: 100%;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .main {
        margin-left: auto;
        margin-right: auto;
    }
}