.username,
.mailAdress,
.password {
    border: solid 2px black;
    padding: 2em 1em;
    margin: 1em;
}

.message {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1em;
    border-radius: 5px;
}

.error {
    background-color: red;
    border: solid 1px palevioletred;
    color: white;
}

.success {
    background-color: green;
    border: 1px palegreen;
    color: black;
}

.username form,
.mailAdress form,
.password form {
    display: none;
}

.username:hover form,
.mailAdress:hover form,
.password:hover form {
    display: block;
}

.username:hover .display-username,
.mailAdress:hover .display-mail,
.password:hover span,
{
    display: none;
}