body {
    margin: 0;
    background-color: gray;
}

#header {
    width: 100%;
    height: 4em;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}

.button {
    float: right;
    height: 56px;
    width: 100px;
    line-height: 56px;
    border: 2px solid blue;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    color: #fff;
    cursor: pointer;
}


/*Footer Part*/

.footer {
    bottom: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: white;
    padding-top: 1em;
    font-family: "Montserrat", bold, sans-serif;

}
