#header {
    width : 100%;
    height: 4em;
    background-color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 15px;
}

.button {
    float: right;
    height: 56px;
    width: 100px;
    line-height : 56px;
    border : 2px solid blue;
    color : yellow;
}

.button:hover {
  color: #cfcfcf;
  cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 18px;
    width : 100%;
    text-align : center;
    background-color: bisque;
}