.titre-forms {
    justify-content: center;
    margin: 0.5em auto;
    padding: 2em;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.overlay {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.container {
    border: 3px solid #fff;
    justify-content: center;
    margin-top: 1.5em;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 5em;
    padding: 2em;
}

label {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

label ::first-letter {
    font-size: 110%;
    color: yellow;
}

input[type=mail],
input[type=password],
input[type=text] {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100%;
    padding: 0.5em 0.02em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    margin: 2.1em 0;
    justify-content: center;
}

input[type=mail]:focus,
input[type=password]:focus,
input[type=text]:focus {
    outline: none;
    border: 2px solid #fff;
}

input[type=submit] {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    color: white;
    padding: 14px 20px;
    margin: 1em 0;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

input[type=submit]:hover {
    background-color: lightpink;
}

a {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    font-size: 1.1em;
    text-decoration: underline;
}

a:visited {
    color: gainsboro;
}

span {
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;   
}