body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr) 2fr 0.5fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas: "header header header header header header" ". welcome welcome welcome welcome ." ". main main main side ."
}

.welcome {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
    grid-area: welcome;
    padding: 0.2em;
    background-color: white;
    border: 1px solid rgba(184, 213, 255, 0.856);
    color: #000;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}

.closebtn {
    padding: 0.2em 0.2em 0 0;
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.closebtn:hover {
    color: grey;
}

.main {
    grid-area: main;
}

.side {
    grid-area: side;
}

.title {
    text-align: center;
    margin-bottom: 0.375em;
}

.select {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "diademe lunettes illuminati barbe"
    "diademebox lunettesbox illuminatibox barbebox"; 
}

.thumbnail {
    width: 80px;
    height: 80px;
}

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 4em;
    height: 2em;
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    position: relative;
    border-radius: 20%/50% ;
}

input:checked {
    border: 6px solid black;
    background-color: white;
}

.diademe {
    grid-area: diademe;
}
.lunettes {
    grid-area: lunettes;
}
.illuminati {
    grid-area: illuminati;
}
.barbe {
    grid-area: barbe;
}
#diademe.png {
    grid-area: diademebox;
}
#lunettes.png {
    grid-area: lunettesbox;
}
#illuminati.png {
    grid-area: illuminatibox;
}
#barbe.png {
    grid-area: barbebox;
}

.capture {
    top: 545px;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(162, 187, 202, 0, 5);
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    display: none;
}

.capture:hover,
captureFile:hover {
    cursor: pointer;
}

.camera {
    width: 50px;
    height: 50px;
}

.icon {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#diademe {
    position: absolute;
    width: 15em;
    height: 11.25em;
    top: 20em;
    left: 20em;
}

#lunettes {
    position: absolute;
    width: 15em;
    height: 11.25em;
    top: 25em;
    left: 20em;
}

#illuminati {
    position: absolute;
    width: 15em;
    height: 11.25em;
    top: 20em;
    left: 20em;
}

#barbe {
    position: absolute;
    width: 20em;
    height: 15em;
    top: 33em;
    left: 18em;
}


.removable:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.captureFile {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    top: 1029px;
    font-size: 25px;
    display: none;
    background-color: rgba(162, 187, 202, 0.5);
    text-align: center;
    line-height: 50px;
    top: 1029px;
    font-size: 25px;
    display: none;
}

.montage-div {
    position: relative;
}

#webcam {
    display: none;
}

#camera-not-available {
    width: 100%;
    text-align: center;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 40px;
    line-height: 480px;
    margin-bottom: 3px;
}

/*
@media screen and (max-width: 900px) {
    .main {
        width: 400px;
    }
    .capture {
        top: 350px;
    }
    #diademe {
        left: 44px;
        top: 115px;
        width: 400px;
        height: 300px;
    }
    .body {
        width: 640px;
    }
    #lunettes {
        top: 223px;
        width: 175px;
        height: 135px;
        left: 44px;
    }
    #illuminati {
        top: 115px;
        width: 145px;
        height: 115px;
        left: 115px;
    }
    #barbe {
        top: 115px;
        width: 175px;
        height: 135px;
        left: 44px;
    }
    #canvas {
        width: 400px;
    }
    .captureFile {
        top: 668px;
    }
    #camera-not-available {
        height: 300px;
        line-height: 160px;
    }
}

@media screen and (max-width: 660px) {
    .body {
        display: inline;
        width: 450px
    }
    .side {
        width: 100%;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}
/*